<a href="https://colab.research.google.com/github/avneeshdubey99/ML_Lab1/blob/master/ML_Exp_09(14_9_20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Blood Transfusion Service

In [ ]:
import numpy as np
import pandas as pd 
from keras.utils import np_utils
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import pickle
import os

In [ ]:
df = pd.read_csv("BTS.csv")
df.head()

   V1  V2     V3  V4  Class
0   2  50  12500  98      2
1   0  13   3250  28      2
2   1  16   4000  35      2
3   2  20   5000  45      2
4   1  24   6000  77      1

In [ ]:
df = df.dropna(how='all')

In [ ]:
df["Class"].value_counts()

1    570
2    178
Name: Class, dtype: int64

In [ ]:
from sklearn.utils import resample

df_majority = df[df.Class==2]
df_minority = df[df.Class==1]

# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=178,    # to match majority class
                                 random_state=42) # reproducible results

# Combine majority class with upsampled minority class
df = pd.concat([df_majority, df_minority_upsampled])

# Display new class counts
df.Class.value_counts()

2    178
1    178
Name: Class, dtype: int64

In [ ]:
df["Class"].value_counts()

2    178
1    178
Name: Class, dtype: int64

In [ ]:
X = df.drop(['Class'], axis=1).values
#X = StandardScaler().fit_transform(X)
Y = df['Class']

In [ ]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.30, random_state = 101)

In [ ]:
trainedforest = RandomForestClassifier(n_estimators=700).fit(X_Train,Y_Train)
predictionforest = trainedforest.predict(X_Test)
trainedforest.score(X_Train, Y_Train)

0.9116465863453815

In [ ]:
trainedforest = RandomForestClassifier(n_estimators=700).fit(X,Y)

In [ ]:
# Saving model to disk
pickle.dump(trainedforest, open('model.pkl','wb'))

In [ ]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))

In [ ]:
print(model.predict([[2,  430, 10350,  86]]))

[2]

In [ ]:
p = model.predict(X_Test)
#print(X_Test)
print(list(p).count(1))
print(list(p).count(2))

65
42