<a href="https://colab.research.google.com/github/avneeshdubey99/ML_Lab1/blob/master/ML_Lab3_Ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

!conda install -c anaconda xlrd --yes

df_can = pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx',
                       sheet_name='Canada by Citizenship',
                       skiprows=range(20),
                       skipfooter=2)

print ('Data read into a pandas dataframe!')

In [ ]:
#Dataset of immigration into canada from other countries - 1980 to 2013 (each year and each country)

df_can.head(10)

In [ ]:
df_can.shape

In [ ]:
df_can.tail()

In [ ]:
df_can.info()

In [ ]:
#simplify and remove unnecessary columns

df_can.drop(['AREA','REG','DEV','Type','Coverage'], inplace=True, axis='columns')

In [ ]:
df_can.head()

In [ ]:
#rename columns to sensible names

df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Continent-Region'}, inplace=True)

In [ ]:
df_can.head()

In [ ]:
#count total immigration by country for all years

df_can['total_immigration'] = df_can.sum(axis='columns')

In [ ]:
df_can.head()

In [ ]:
df_can.describe()

In [ ]:
df_can.isnull().sum()

In [ ]:
df_can.dtypes

In [ ]:
#Select immigration of years 1980-1985 from the dataset, for all countries?
#get the list of columns in the dataframe
df_can.columns
df_can[['Country',1980,1981,1982,1983,1984,1985]]

In [ ]:
#simplify the dataset by changing the index from numbers to country names

df_can.index.values

In [ ]:
df_can.set_index('Country', inplace=True)

In [ ]:
df_can.head()

In [ ]:
print(df_can.loc['India'])

In [ ]:
df_can.iloc[8]

In [ ]:
print(df_can.loc['Japan',2000])

In [ ]:
print(df_can.iloc[12,12])

In [ ]:
#convert columns names to string
#map - syntax(function, collection)
#apply function to each element of the collection - equivalent apply, mapply,sapply,lapply functions of R

df_can.columns = list(map(str,df_can.columns))

In [ ]:
df_can.columns

In [ ]:
#filtering on dataframe

#Q. find all countries in Asia

condition = df_can['Continent'] == 'Asia'
df_can[condition]

In [ ]:
#Q. multiple conditions

df_can[(df_can['Continent']=='Asia')]

In [ ]:
df_can[(df_can['1980'] > 1000)]

In [ ]:
#syntax - df[(condition)]

df_can[(df_can['Continent']=='Asia')&(df_can['2013']>10000)]

In [ ]:
df_can.where(df_can['Continent']=='Asia')

# **Data Visualization**

In [ ]:
#conditions
#basic stats

import matplotlib.pyplot as plt
import matplotlib as mpl
import plotly as px

In [ ]:
mpl.__version__

In [ ]:
df_can.columns

**X Label to chart our plot**

In [ ]:
years = list(map(str,range(1980,2014)))

years

**Selecting India for visualization from 1980-2013**

In [ ]:
india = df_can.loc['India',years]

In [ ]:
india

**Plot for immigration data of India over the years**

In [ ]:
india.plot()

In [ ]:
india.index

In [ ]:
#change the index to integer
india.index = india.index.map(int)

india.plot(kind='line')
plt.title('Immigration from India')
plt.ylabel('Number of immigrants')
plt.xlabel('Years')

#update the plot
plt.show()

**Adding Labels, Title and Point Description to the graph**

In [ ]:
india.plot(kind='line')
plt.title('Immigration from India')
plt.ylabel('Number of immigrants')
plt.xlabel('Years')

plt.text(2000, 32000, 'Y2K Revolution')
plt.text(1990,15000,'Recession')
plt.text(1985,10000,'Economic boom')
#update the plot
plt.show()

In [ ]:
years = list(map(str,range(1980,2014)))


china = df_can.loc['China', years]

In [ ]:
china.plot()

**Plotting the immigration data of China over the years with Labels, Title and Point Description in the graph**

In [ ]:
china.index = china.index.map(int)

china.plot(kind='line')

plt.title('Immigration of China')
plt.xlabel('Years')
plt.ylabel('Immigrants')
plt.text(1990,10000,'Marker')
plt.show()

Comparing the immigration trends of China and India

In [ ]:
years = list(map(str,range(1980,2014)))


chinaindia = df_can.loc[['China','India'], years]

new_chinaindia = chinaindia.transpose()
new_chinaindia.plot()

In [ ]:
new_chinaindia.index = new_chinaindia.index.map(int)

new_chinaindia.plot(kind='line')

plt.title('Immigration of China and India')
plt.xlabel('Years')
plt.ylabel('Immigrants')
plt.text(1990,10000,'Marker')
plt.show()

#Q. Compare the immigration trends between France and Germany

In [ ]:
francegerm = df_can.loc[['Germany','France'], years]
francegerm = francegerm.transpose()
francegerm.index = francegerm.index.map(int)

francegerm.plot(kind='line', figsize = (10,7))
plt.title('Immigration of France and Germany')
plt.xlabel('Years')
plt.ylabel('No. of Immigrants')
plt.show()

**Top 5 countries that send immigrants to Canada**

In [ ]:
df_can.sort_values(by='total_immigration', ascending=False, axis='index', inplace=True)

top5 = df_can.head(5)

top5

In [ ]:
years = list(map(str,range(1980,2014)))


top5_clean = top5[years]

top5_clean = top5_clean.transpose()
top5_clean.plot()

#Q. Which two countries have similar immigration trends over the years 1980-2013?

In [ ]:
df_can['total_immigration'] = df_can.sum(axis='columns')
df_can.sort_values(by='total_immigration', ascending=False, axis='index', inplace=True)
df_can.head(10)

In [ ]:
df_can['total_immigration']=np.sum(df_can,axis=1)
df_can.sort_values(by='total_immigration',ascending=False,axis=0,inplace=True)
df_can

In [ ]:
top5

**Comparing countries in the top 5**

In [ ]:

cr_immg=df_can.loc[['India','China','Philippines','Pakistan','United Kingdom of Great Britain and Northern Ireland'],years]
cr_immg.transpose().plot(kind='line')
plt.title('Immigration in India and China')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')

**Plotting three similar countries after year 2009 in the top 10 list.**

In [ ]:
df_can.loc[['India','China','Philippines'], years].transpose().plot(figsize=(15,15));
plt.title('Immigration of India, China and Philippines');
plt.xlabel('Years');
plt.ylabel('Immigrants');

#Part 2

In [ ]:
#Area plots - Stacked line plot

top5_clean

In [ ]:
top5_clean.index = top5_clean.index.map(int)

top5_clean.plot(kind="area", stacked=False, figsize=(20,10))

plt.title('Immigration trends in top five countries (1980-2013)')
plt.xlabel('Years')
plt.ylabel('Immigrants count')

plt.show()

In [ ]:
top5_clean.index = top5_clean.index.map(int)

top5_clean.plot(kind="area", stacked=True, figsize=(20,10))

plt.title('Immigration trends in top five countries (1980-2013)')
plt.xlabel('Years')
plt.ylabel('Immigrants count')

plt.show()

In [ ]:
top5_clean.index = top5_clean.index.map(int)

#alpha parameter for transparency - default = 0.5 (range is 0 to 1)

top5_clean.plot(kind="area", stacked=False, figsize=(20,10), alpha=0.25)

plt.title('Immigration trends in top five countries (1980-2013)')
plt.xlabel('Years')
plt.ylabel('Immigrants count')

plt.show()

In [ ]:
#histogram - at a particular time period / snapshot of the data

df_can['2000']

In [ ]:
df_can['2000'].plot(kind='hist', figsize=(20,10))

plt.title('Immigration trends in 195 countries in 2000')
plt.xlabel('Number of Immigrants')
plt.ylabel('Number of Countries')

plt.show()

In [ ]:
#histogram
years = list(map(str,range(1980,2014)))

df_can.loc[['India','China','Denmark','Norway','France','Germany'], years].transpose().plot.hist()

In [ ]:
df_can.loc[['India','China','Denmark','Norway','France','Germany'], years].transpose().plot.hist()

plt.title('Immigration trends in 6 countries in 1980-2013')
plt.xlabel('Number of Immigrants')
plt.ylabel('Number of Countries')

plt.show()

#Vertical bar plot

In [ ]:
india = df_can.loc['India', years]

india.plot(kind='bar', figsize=(20,10))

plt.title('Immigration trends India immigrants from 1980 to 2013')
plt.xlabel('Years')
plt.ylabel('India immigrants from 1980 to 2013')

plt.show()

In [ ]:
india = df_can.loc['India', years]

india.index = india.index.map(int)


india.plot(kind='bar', figsize=(10,6))

plt.title('Immigration trends India immigrants from 1980 to 2013')
plt.xlabel('Years')
plt.ylabel('India immigrants from 1980 to 2013')

plt.annotate('Increasing trends', xy=(32, 70),  xycoords='data',
            xytext=(28, 20), 
            arrowprops=dict(facecolor='black', shrink=0.05),
            horizontalalignment='left', verticalalignment='top',
            )

plt.show()

In [ ]:
india = df_can.loc['India', years]

india.plot(kind='barh', figsize=(20,10))

plt.title('Immigration trends India immigrants from 1980 to 2013')
plt.xlabel('India immigrants from 1980 to 2013')
plt.ylabel('Years')

plt.show()

In [ ]:
#Vertical and horizontal bar charts

df_india = df_can.loc['India',years]
df_india.plot(kind='bar', figsize=(10,6))
plt.title("Indian immigration to Canada from 1980 to 2013")
plt.xlabel("Year")
plt.ylabel("Number of immigrants")

plt.annotate('',  #arrow title
             xy=(21,35000), #x,y of arrow head
             xytext=(7,15000), #x, y of arrow tail
             xycoords='data',  #keep unchanged
             arrowprops=dict(arrowstyle='->',color='red') #arrow style with color
             )

plt.annotate('IT Boom', #add text to arrow
             xy=(13,28000),  #x, y of text position
             rotation=40, # counter clockwise rotate text by angle
             xycoords='data', #keep unchanged
             va='top', #position text 
             ha='left') #position text
plt.show()